footer {
    margin: auto auto;
    padding: 60px 0px;
    gap: 60px;
    background: #F7FFF7;


    @media (max-width: 768px) {
        footer {
            grid-template-columns: 1fr;
            /* stack all columns */
            gap: 32px;
            padding: 40px 20px;
        }
    }


    footer p,
    footer h1,
    footer h2,
    footer h3 {
        color: #000000;
    }

    footer li {
        padding: 8px;
        list-style: none;
    }

    footer .sticky-nav-link {
        list-style: none;
        padding: 8px;
        color: #a0a0a0;
    }

    .sponsors {
        max-width: var(--page-width);
        margin: 0 auto;
    }

    .sponsors h3 {
        color: black;
        font-size: 2rem;
        font-weight: 600;
    }

    .sponsor-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: center;
    }

    .sponsor-logo {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    @media (max-width: 768px) {
        footer {
            grid-template-columns: 1fr;
            gap: 32px;
            padding: 40px 20px;
        }

        .footer-column .footer-logo-row {
            flex-direction: column;
            align-items: flex-start;
            /* or 'center' if you want it centered instead */
            gap: 8px;
        }
    }
